/* 用来重置清除样式

清除所有的标签自带的间距 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* 自带的下划线 */
a,
u {
    text-decoration: none;
}

/* 让加粗不加粗，回归正常 */
b,
strong {
    font-weight: 400;

}

/* 取消倾斜 */
i,
em {
    font-style: normal;
}

/* 取消列表自带的列表符号 */
ul,
ol {
    list-style: none;
}

/* 让标题标签回归正常 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 16px;
}

/* 轮廓线，清除鼠标点击之后的高亮效果 */
input {
    outline: none;
    border: none;
}

html {
    font-size: 4.26vw;
}

::-webkit-scrollbar {
    display: none
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}